.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    padding: 1rem;
  }
  
  .card {
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;  
    margin: 10px;
    text-align: left;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-image: url('https://img.freepik.com/free-photo/wooden-floor-background_53876-88628.jpg')
  }
  
  .card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-title {
    margin-top: 0;
    font-family: 'Abril Fatface', cursive;
    color: rgba(20, 2, 2, 0.3);
  }
  
  .card-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
  }
  
  .card p {
    margin: 2px 0 10px;
    line-height: 1.5;
    color: #320909;
  }
  
  .card p strong {
    color: #3e0808;
    text-align: left;
    font-style: italic;
  }