
 .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0rem;
    padding: 1rem;
}

.card {
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;  
    margin: 10px;
    background: #ddd;
    text-align: left;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    margin-top: 0;
}

.card-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.card p {
    margin: 0 0 10px;
    line-height: 1.5;
    color: #666;

}

.card p strong {
    color: #333;
    text-align: left;
}
