nav {
    background-color: #1a1a1a;
    padding: 20px;
    border-bottom: 1px solid #333;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ff9900;
  }
  

  nav {
    background-image: url(https://cannibalhalflinggaming.files.wordpress.com/2023/05/candela_obscura.webp?w=1024&h=567&crop=1); /* Replace 'path/to/texture.jpg' with the path to your texture image */
  }
  

  nav {
    height: 20px;
    line-height: 20px;
  }